:root {
    --mainBGColor: #2d3140;
    --secondBGColor: #1f222e;
    --titleTextColor: #d29a38;
    --mainTextColor: #c2c2c2;
    --linkColor: #7ab1e2;
}

* {
    background-color: var(--mainBGColor);
}

.logo-navbar {
  height: 50px;
  width: auto;
}
.logoMain {
  max-width: 300px;
  filter: drop-shadow(0 0 10px black);
}
.LogoVuelta {
    height: 40px;   /* ajusta entre 30–60px a gusto */
    width: auto;
}
.logoMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5000px; /* ajusta tamaño  noo furrula*/
    z-index: 2;
     background: transparent;
}
section {
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* ajusta el 0.5 */
    z-index: 1;
}

/* body.light {

}

body.dark {

} */
